.video {
  position: relative;
  padding: 80px 0 40px;
  /* margin: 40px 0; */
}
.video video {
  width: 100%;
  height: auto;
}

/* Button STYLES */

.round {
  max-width: 840px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
}

.round .button {
  display: inline-block;
  width: 130px;
  font-size: 16px;
  height: 40px;
  line-height: 40px;
  margin: 20px 0;
  position: relative;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  border: 2px solid crimson;
  transition: color 0.5s;
  text-transform: uppercase;
  color: crimson;
  letter-spacing: 2px;
}

.round .button:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: crimson;
  height: 150px;
  width: 200px;
  border-radius: 50%;
}

.round .button:hover {
  color: #fff;
}

.round .button:before {
  top: 0;
  left: -200%;
  transition: all 0.7s;
}

.round .button:hover:before {
  top: -30px;
  left: -30px;
}
